  .container{
            display: flex;
            margin-left: 900px;
        }

        .input{
            text-align: center;
            display: flex;
            margin-bottom: 45px;
        }
        .menu{
            text-align: right;
            padding-left: 80px;
        }
        .box{
            border: 5px;
            border-style: solid;
            padding: 10px;
            border-radius: 10px;
            font-size: 40px;
        }
        .size-box{
            
        }